<!DOCTYPE html>
<html>
  <head>
    <title>ReFormer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      form {
        width: 300px;
        margin: 100px auto 0;
        display: block;
      }

      input, label {
        display: block;
        margin-bottom: 0.5em;
      }
    </style>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
