.login-form {
  padding: 2rem;
  label {
    color: $primary;
    display: block;
    text-align: center;
  } 
  input {
    text-align: center;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    margin: 0.5rem auto 2rem;
    display: block;
    font-size: 1.2em;
  }
  input[type="submit"] {
    background: $primary;
    color: #fff;
    transition: 0.2s;
    margin-bottom: 3rem;
    &:hover {
      background: lighten($primary, 5%);
      color: $brand;
    }
  }
  .credentials {
    width: 200px;
    margin: 0 auto;
  }

}