<div class="content about col-md-8 col-md-offset-2">
  <h1>What's this About?</h1>

  <div class="about-content">
    <p>This site is a student project for <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">The Odin Project</a> and demonstrates user authentication in Rails by hiding the author names for posts unless the user is logged in.</p>
    <p>Creating users and posts is outside the scope of this project, but you can test the authentication functionality by logging in with the credentials below.</p>
    <p><strong>Email:</strong> members@example.com</p>
    <p><strong>Password:</strong> members_only</p>
  </div>
  
</div>

